* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: #fff;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #5801a4, #1b66d5);
}

.container {
    border: 2px solid #fff;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff, 0px 0px 5px inset;
    cursor: pointer;
}

div {
    text-align: center;
    font-size: 10rem;
}

#l,
#a,
#s,
#h,
#icon,
#complete {
    display: none;
}

span {
    text-shadow: 3px 3px 15px rgb(9, 209, 231);
}